.banner{
    width:100%;
    height: 3.76rem;
    margin-top: 0.84rem;
    li{
        position: absolute;
        a{
            display: block;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    
}