.everyday{
    width: 100%;
    height: 4.4rem;
    margin-top: 0.2rem;
    a{
        display: block;
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}